
PORT = 8000
DEVELOPMENT_MODE = development
# Database
DATABASE_URL = postgresql://postgres:admin@localhost:5432/links_dev_hub

# cors
CORS_ALLOW_ORIGINS = ["http:localhost:3000"]

# Acccess Token
ACCESS_TOKEN_KEY =  access_token_key
ACCESS_TOKEN_KEY_TIME = 1d 

# Clerk Credentials
CLERK_WEBHOOK_SECRET = 
